body {
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
}
.vst {
  font-size: 12px;
}
.st {
  font-size: 14px;
}
.pad-0 {
  padding: 0 !important;
}
.pad-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.bb1 {
  border-bottom: 1px solid #eee;
}
.item-pad-5 > * {
  padding: 5px;
}
.navbar {
  box-shadow: 1px 0px 20px rgb(0 0 0 / 20%);
  background: #fff;
}
.navbar-brand img {
  max-width: 160px;
}
.user-options {
  color: #333;
}
.user-options img {
  width: 40px;
}

.wrapper {
  margin-top: 30px;
  margin-bottom: 70px;
}
.sidebar {
  width: 18rem;
  /* padding-top: 30px; */
  /* padding-right: 10px; */
  /* box-shadow: 10px 0px 10px 0 rgb(0 0 0 / 15%); */
  margin-right: 25px;
}
.sidebar .user-info {
  text-align: center;
}
.sidebar .user-info img {
  max-width: 150px;
}
.sidebar hr {
  opacity: 0.1;
}

.sidebar .navigation {

}
.sidebar .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .navigation ul li {
  display: block;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-bottom: 1px solid transparent;
}
.sidebar .navigation ul li:hover {
  background: white;
  border-bottom: 1px solid #eee;
}

.sidebar .navigation ul li i {
  padding-right: 10px;
}

.page-title {
  margin-bottom: 20px;
}

.page-title h4 {
  font-size: 36px;
  padding: 40px 0 00px;
  margin-bottom: 0;
}

.card {
  border: none !important;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 20%);
  border-radius: 20px;
  padding: 20px;
  /* overflow: hidden; */
}
.card-header {
  margin: -20px -20px 20px;
  padding: 30px;
  background: transparent;
  border-radius: 20px 20px 0 0 !important;
}
.card-header.dark {
  background: #f8f9fa;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(175 172 172 / 5%) !important;
  /* color: #42474c !important; */
}

.tc-actions.bt a {
  padding: 2px 10px !important;
}

.tc-actions a {
  padding: 5px;
  font-size: 16px;
  text-decoration: none !important;
}
td {
  font-size: 14px;
}
.modal-content {
  border-radius: 20px !important;
  border: none !important;
}

.grid-list {

}
.grid-list li {
  display: block;
  float: left;
  width: 50%;
}

input, select {
  color: #333 !important;
  border: none !important;
  background: #f8f9fa !important;
  box-shadow: inset 0 0 2px 0 rgb(0, 0, 0, 0.2);
  font-size: 12px !important;
}
input:focus, select :focus {
  outline: 0 !important;
  box-shadow: inset 0 0 2px 0 rgb(0, 0, 0, 0.2) !important;
  border-color: inherit;
}
.btn {
  font-size: 14px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.frm-error {
  color: #dc3545;
}
.frm-error input, .frm-error input {
  background: #fbf0f0 !important;
}
.ico-btn {
  border: none;
  background: none;
}
.rmv-item {
    background: #dc3545;
    border: 1px solid #dc3545;
    padding: 2px;
    border-radius: 2px;
    color: white !important;
    /* margin-left: 40px; */
    cursor: pointer;
    /* display: none; */
    opacity: 0;
}
td:hover .rmv-item {
  opacity: 1;
  transition: opacity 300ms;
}
.row-muted {
  background: #fff5f5;
  color: #777 !important;
}
.ch-edit-container {
  margin-bottom: 5px;
}
.ch-editable {
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}
.ch-edit-container button{
  opacity: 0;
}
.ch-editable:active, .ch-editable:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #eee;
}
.ch-editable:active + button, .ch-editable:focus + button {
  opacity: 1;
  transition: opacity 700ms;
}
.btn-xs {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.btn-rounded {
  border-radius: 15px;
}

.file-cont {
  display: flex;
  margin-bottom: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  background: #f8f9fa !important;
  box-shadow: inset 0 0 2px 0 rgb(0 0 0 / 20%);
}
.file-cont .file-btn {
  width: 86px;
}
.file-cont .file-btn .fbtn {
  font-size: 12px !important;
  border: none;
  border-right: 1px solid #333;
  color: #333;
  padding: 6px;
  width: 86px;
  border-radius: 5px 0 0 5px;
}
.file-cont .progress {
  height: 30px;
  border-radius: 0  5px  5px 0;
  background-color: transparent;
  position: relative;
}
.file-cont .status {
  display: block;
  padding: 7px 10px;
  font-size: 11px;
  position: absolute;
  left: 0;
  top: 0;
}